[submodule "files/.vim/bundle/python-mode"]
	path = files/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
	branch = develop
[submodule "files/.vim/bundle/swift.vim"]
	path = files/.vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "files/.vim/bundle/vim-airline"]
	path = files/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "files/.vim/bundle/vim-commentary"]
	path = files/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "files/.vim/bundle/vim-repeat"]
	path = files/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "files/.vim/bundle/vim-speeddating"]
	path = files/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "files/.vim/bundle/vim-surround"]
	path = files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "files/.vim/bundle/vim-unimpaired"]
	path = files/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "files/.vim/bundle/vim-markdown"]
	path = files/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "files/.vim/bundle/vim-gitgutter"]
	path = files/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/fonts"]
	path = files/fonts
	url = https://github.com/powerline/fonts.git
[submodule "files/.vim/bundle/tmuxline.vim"]
	path = files/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "files/.vim/bundle/promptline.vim"]
	path = files/.vim/bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "files/.vim/bundle/vim-yaml"]
	path = files/.vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "files/.vim/bundle/emmet-vim"]
	path = files/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "files/.vim/bundle/salt-vim"]
	path = files/.vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
