[submodule "files/fonts"]
	path = files/fonts
	url = https://github.com/powerline/fonts.git
[submodule "files/.vim/pack/python-mode/start/python-mode"]
	path = files/.vim/pack/python-mode/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "files/.vim/pack/swift.vim/start/swift.vim"]
	path = files/.vim/pack/swift.vim/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "files/.vim/pack/vim-arline/start/vim-airline"]
	path = files/.vim/pack/vim-arline/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "files/.vim/pack/vim-commentary/start/vim-commentary"]
	path = files/.vim/pack/vim-commentary/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "files/.vim/pack/vim-fugitive/start/vim-fugitive"]
	path = files/.vim/pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "files/.vim/pack/vim-repeat/start/vim-repeat"]
	path = files/.vim/pack/vim-repeat/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "files/.vim/pack/vim-surround/start/vim-surround"]
	path = files/.vim/pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "files/.vim/pack/vim-markdown/start/vim-markdown"]
	path = files/.vim/pack/vim-markdown/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "files/.vim/pack/vim-gitgutter/start/vim-gitgutter"]
	path = files/.vim/pack/vim-gitgutter/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/.vim/pack/tmuxline.vim/start/tmuxline.vim"]
	path = files/.vim/pack/tmuxline.vim/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "files/.vim/pack/vim-yaml/start/vim-yaml"]
	path = files/.vim/pack/vim-yaml/start/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "files/.vim/pack/emmet-vim/start/emmet-vim"]
	path = files/.vim/pack/emmet-vim/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "files/.vim/pack/vim-beancount/start/vim-beancount"]
	path = files/.vim/pack/vim-beancount/start/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount.git
[submodule "files/.vim/pack/salt-vim/start/salt-vim"]
	path = files/.vim/pack/salt-vim/start/salt-vim
	url = https://github.com/saltstack/salt-vim.git
