<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.sheagcraig.jabravolume.error.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.sheagcraig.jabravolume.out.log</string>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>Label</key>
    <string>com.sheagcraig.jabravolume</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/jabravolume.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
